@import "tailwindcss";

:root {
  --font-manrope: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  --font-inter: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.font-manrope {
  font-family: var(--font-manrope);
}

.font-inter {
  font-family: var(--font-inter);
}
